<%- include('header'); -%>
<div class="contact">
    <table name = "namelist">
        <td>Names</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Email</td>
    </table>
</div>
<%- include('footer'); -%>