<%- include('header'); -%>
<h2> LOGIN </h2>
<p>Please add the following details below </p>
<form action="/api/login" method="get">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" ></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" name="password" ></td>
        </tr>
        <input type ="submit" value ="Upload"><br>
    </table>
</form>
<%- include('footer'); -%>