<%- include('header'); -%>
<h2> LOGIN </h2>
<p>Please add the following details below </p>
<form action="/api/login" method="GET">
        <input type="text" name="username" placeholder="Username" required autofocus>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
</form>
<%- include('footer'); -%>